.header-container {
  margin-top: 15px;
  background-color: #3d5a80;
  border-radius: 4px;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.15);
  max-width: 95%;
  padding: 5px;
  background-color: rgba(226, 238, 234, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-part-header {
  width: 17rem;
  display: flex;
  column-gap: 5rem;
  align-items: center;
  .link {
    color: black;
    outline: none;
    text-decoration: none;
    &:focus {
      outline: none;
    }
  }
}
